<!DOCTYPE html>
<html>
<head>
    <title>MovieHub - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='fr.css') }}">
</head>
<body>
    <div class="login-container">
        <h1>MovieHub Login</h1>
        <form method="POST" action="/login">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>
        <p>Hesabın yok mu? <a href="/signup">Kayıt ol</a></p>
    </div>
</body>
</html>